.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
}

nav{
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

input {
  display: flex;
  justify-content: center;
  padding: 3px;
  width: 200px;
  margin: 5px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-align {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Full viewport height */
  background-color: #f0f0f0;
}

.centered-image {
  max-width: 100%;
  height: auto;
}